@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Bold.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'DongleRegular';
  src: url('fonts/Dongle/Dongle-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Kensmark';
  src: url('fonts/kensmark/kensmark-03-black.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Caldense';
  src: url('fonts/Caldense/Caldense.ttf') format('truetype');
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #ff89a0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Kensmark, sans-serif;
}
.loading-screen {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 2px;
}
.preloader{
  position: fixed !important;
  width: 100vw;
  height: 100vh;
  z-index: 9999999999;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #ff89a0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Kensmark, sans-serif;
  }